body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #0d2240;
}



/*********** CONTACTUS PAGE CLASSES START ***********/

.parent {
    margin-bottom: 140px;
    display: flex;
}

.contactus {
    margin: 8px 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 0;
    color: #666;
    line-height: 20px;
 }

.contactus a {
    color: #0055a6;
}


.contactform input {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 400px;
    margin: 8px 0;
  }

  .contactform textarea {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 400px;
    height: 150px;
  }

  .contactform input[type=submit] {
    font-size: 16px;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0d2240;
  }
  
  .contactform input[type=submit]:hover {
    background-color: #235499;
  }

/*********** CONTACTUS PAGE CLASSES END ***********/





  /*********** CONTACTUS PAGE MEDIA QUERY START ***********/

  @media (max-width: 1025px) {

    main {
        padding: 10px;
        text-align: left;
    }

    .contactus {
        padding: 10px;
        padding-left: 30px;
    }

    .contactus input { 
        padding: 10px;
        width: 300px;
    }

    .contactus textarea { 
        padding: 10px;
        width: 300px;
    }
  }

  @media (max-width: 668px) {

    main {
        padding: 10px;
        text-align: left;
    }

    .contactus {
        padding: 10px;
        padding-left: 30px;
        font-size: 14px;
    }

    .contactus input { 
        padding: 10px;
        width: 300px;
    }

    .contactus textarea { 
        padding: 10px;
        width: 300px;
    }

    .contactform {
        font-size: 14px;
    }
  }


  @media (max-width: 640px) {

    main {
        padding: 10px;
        text-align: left;
    }

    .parent {
        display: block;
    }

    .contactus input { 
        padding: 10px;
        width: 300px;
    }

    .contactus {
        padding: 10px;
    }

    .contactus textarea { 
        padding: 10px;
        width: 300px;
    }

    .contactus {
        padding: 10px;
    }
  }


  @media (max-width: 325px) {

    .parent {
        display: block;
    }

    main {
        padding: 10px;
        text-align: left;
    }

    .contactus input { 
        padding: 10px;
        width: 250px;
    }

    .contactus {
        padding: 10px;
    }

    .contactus textarea { 
        padding: 10px;
        width: 250px;
    }

    .contactus {
        padding: 10px;
    }

    .contactform{
        margin-top: 1px;
    }
  }

    /*********** CONTACTUS PAGE MEDIA QUERY END ***********/