.footer {
    background-color: #0d2240;
    text-align: center;
    font-size: 13px; 
}

.divfooter {
    text-align: center;
    display: inline-block;
}

.footerlinks ul {
    list-style: none;
}

.footerlinks li {
    color: #becdf8;
    padding-right: 25px;
    font-size: 13px;
    display: block;
    line-height: 3.0;
    font-weight: bold;
}

.footerlinks a {
    text-decoration: none;
    color: #ffffff;

}

.footerlinks a:hover {
    text-decoration: none;
    color: #E0242A;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.daysfooter {
    text-align: left;
    color: #ffffff;
    display: inline-block;

}

.daycolor {
    color: #becdf8;
    font-size: 13px;
}

.menusmall {
    display: none;
}





/* Responsive Design: DESKTOP FIRST approach */



/* @media (max-width: 769px) { */

@media (max-width: 813px) {
    .fcontainer {
        text-align: center;
    }

    .footerlinks li {
        font-size: 11px;
    }

    .daysfooter {
        position: absolute;
        visibility: hidden;
    }

    .divfooter {
        text-align: center;
        display: inline-block;
    }
}


/* @media (max-width: 415px) { */
    @media (max-width: 590px) {
    .divfooter {
        display: none;

    }

    .menusmall {
        display: block;
        height: 100px;

    }
    .parsm {
        color: #ffffff;
        font-size: 12px;
        padding: 1px;

    }
}



/*

menusmall
divsm

*/