
.header {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 145px;
    width: 100%;
    background-color: #0d2240;
    color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=80); 
}

.headerCU {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 145px;
    width: 100%;
    background-color: #0d2240;
    color: #ffffff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divmenu {
    text-align: left;
    width: 580px;
    padding-top: 30px;
}

nav ul {
    list-style: none;
    background-color: #0d2240;
    font-size: 16px;
    margin: 0;
}

nav li {
    margin-right: 4.5%;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: none;
    color: #E0242A;
    text-shadow: 1px 1px 0 #FFFFFF;
}


.topnav {
    display: none;
}



/************** BURGER MENU START **************/ 
.topnav {
    overflow: hidden;
    background-color: #0d2240;
    position: relative;
    width: 150px;
    padding: 10px;
    opacity: 1.0;  
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: #0d2240;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #0d2240;
    color: white;
    opacity: 1.0;
  }
  

/************** BURGER MENU END **************/





/* Responsive Design: DESKTOP FIRST approach */

@media (max-width: 1023px) {
    nav ul {
        list-style: none;
        background-color: #0d2240;
        font-size: 12px;
        margin: 0;
    }
}

@media (max-width: 845px) {
    nav ul {
        list-style: none;
        background-color: #0d2240;
        font-size: 12px;
        margin: 0;
    }
    .divmenu { 
        width: 500px;
    }
}

@media (max-width: 766px) {

    .divlogo img {
        width: 160px;
        position: absolute;
        left: 20px;
        top: 20px;
    }

    .divmenu { 
        display: none;
    }

    .topnav {
        display: flex;
        position: absolute;
        right: 0px;
        top: 0px;
    }
}

@media (max-width: 415px) {

    .divlogo img {
        width: 160px;
        position: absolute;
        left: 20px;
    }

    .divmenu { 
        display: none;
    }

    .topnav {
        display: flex;
        position: absolute;
        right: 3px;
        top: 0px;
    }
}


@media (max-width: 321px) {

    .divlogo img {
        width: 120px;
        position: absolute;
        left: 20px;
    }

    .divmenu { 
        display: none;
    }

    .topnav {
        display: flex;
        position: absolute;
        right: 3px;
        top: 0px;
    }
}