
.header {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 145px;
    width: 100%;
    background-color: #0d2240;
    color: #ffffff;
    text-align: center;
}

.container {
    width: 100%;
}

.divlogo {
    display: inline-block;
}

.divmobile {
    display: none;
}

/* DIV and MENU STYLE START */

.divmenu {
    display: inline-block;
    text-align: left;
    width: 580px;
    padding-top: 30px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    /* border: 3px solid #dc0a13; */
}


nav ul {
    list-style: none;
    background-color: #0d2240;
    font-size: 16px;
    margin: 0;
}

nav li {
    margin-right: 4.5%;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    text-decoration: none;
    color: #E0242A;
    text-shadow: 1px 1px 0 #FFFFFF;
}

/* DIV and MENU STYLE END */








/* Responsive Design: DESKTOP FIRST approach */

@media (max-width: 1023px) {
    nav ul {
        list-style: none;
        background-color: #0d2240;
        font-size: 12px;
        margin: 0;
    }
}

@media (max-width: 845px) {
    nav ul {
        list-style: none;
        background-color: #0d2240;
        font-size: 12px;
        margin: 0;
    }
    .divmenu { 
        width: 500px;
    }
}

@media (max-width: 766px) {
    .divmenu { 
        visibility: hidden;
        width: 0;
    }

    .divmobile {
        display: block;
    }

    .header {
        position: fixed;
    }
}

@media (max-width: 415px) {
    .divmenu { 
        visibility: hidden;
        width: 0;
    }

.divmobile {
    display: block;
}

    .header {
        position: fixed;
    }
}